/**
 * @author Zachary Nicol-P. <1735193@cegep-ste-foy.qc.ca>
*/

@media(max-width:(($bureau)-1px)){
  $susy: (
          'columns': susy-repeat(4),
          'gutters': 0.25,
          'spread': 'narrow',
          'container-spread': 'narrow',
  );
  .conteneur {
    background: susy-svg-grid($susy) no-repeat scroll;
  }
}
@media(min-width:$bureau){
  $susy: (
          'columns': susy-repeat(12),
          'gutters': 0.25,
          'spread': 'narrow',
          'container-spread': 'narrow'
  );
  .conteneur {
    background: susy-svg-grid($susy) no-repeat scroll;
  }
}

.conteneur {
  margin: 0 auto;
  max-width: 1000px;
}