/**
 * @author Zachary Nicol-P. <1735193@cegep-ste-foy.qc.ca>
*/

/** Polices de caractères **/

$fontePrimaire: Quicksand;
$fonteSecondaire: Helvetica, Arial, sans-serif;

/** Palette de couleurs **/

// Utiliser http://chir.ag/projects/name-that-color
// pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite
// si la suggestion de name-that-color est trop étrange

/* Couleurs de base */

/* Autres couleurs */

/** Points de rupture **/

$bureau : 600px;